<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="CSS/style.css">
    <link rel="stylesheet" href="CSS/responsive.css">
    <title>Registration Form</title>
</head>
<body background="img/bg.jpg">
    <form>
        <h1 class="text-center form-mainhead-color" >
            Registration Form
        </h1>
        <div class="form">
            <label class="form-label">Name:</label>
            <input class="form-input" type="text" name="name" id="name" required placeholder="Enter Your Name" >
            <label class="form-label">Phone no:</label>
            <input class="form-input" type="number" name="phone" id="phone" placeholder="Enter Your Phone" required>
            <label class="form-label">Email:</label>
            <input class="form-input" type="email" name="email" id="email" placeholder="Enter Your Email" required>
            <label class="form-label">Your Concern:</label>
            <textarea class="form-input" name="text" id="text" cols="30" rows="10" placeholder="Ellaborate Your Concern" required></textarea>
            <!-- <button class="btn btn-sm " onclick="window.location.href='file:///C:/Users/Lenovo/Desktop/itproject/membership.html';">Submit</button> -->
            <!-- <label class="form-label">Submit
            <input type="button" class="btn btn-sm " onclick="window.location.href='file:///C:/Users/Lenovo/Desktop/itproject/membership.html';">
        </label>
        </div>
    </form>
</body>
</html> --> 

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="CSS/style.css">
    <link rel="stylesheet" href="CSS/responsive.css">
    <title>Plus Member Be-educate Online Education Platform</title>
</head>
<body background="img/bg.jpg">
    <form>
        <h1 class="text-center form-mainhead-color">
            Registration Form
        </h1>
        <div class="form">
            <label class="form-label">Name:</label>
            <input class="form-input" type="text" name="name" id="name" placeholder="Enter Your Name" required>
            <label class="form-label">Phone no:</label>
            <input class="form-input" type="number" name="phone" id="phone" placeholder="Enter Your Phone" required>
            <label class="form-label">Email:</label>
            <input class="form-input" type="email" name="email" id="email" placeholder="Enter Your Email" required>
            <label class="form-label">Your Concern:</label>
            <textarea class="form-input" name="text" id="text" cols="30" rows="10" placeholder="Ellaborate Your Concern"></textarea>
            <button class="btn btn-sm" onclick="window.location.href='file:///C:/Users/Lenovo/Desktop/itproject/membership.html';">Submit</button>
        </div>
    </form>
</body>
</html>